.tela__jogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.cabecalho {
    color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-top: 1.5rem;
    gap: 2rem;
}

.titulo {
    font-family: var(--fonte-do-texto);
}

.cerebro {
    color: var(--cor-do-cerebro);
}

.jogo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
}

.menu__jogo {
    background-color: var(--cor-verde-02);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 3rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.nome {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
}

.menu__jogo p {
    color: var(--cor-branco);
    font-family: var(--fonte-do-jogo);
    font-size: 2rem;
}

.cartas__jogo {
    background-color: var(--cor-verde-01);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.carta {
    background-color: var(--cor-branco);
    position: relative;
    cursor: pointer;
    width: 9rem;
    height: 30vh;
    margin: 0.2rem;
    border-radius: 1rem;
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.lados {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: all 0.4s ease;
}

.carta__frente {
    transform: rotateY(180deg);
}

.carta__costas {
    background-color: var(--cor-da-carta);
    backface-visibility: hidden;
}

.carta__revelada {
    transform: rotateY(180deg);
}

.carta__certa {
    opacity: 0.8;
}
